.signUpButton {
    background-color: #F56858;
    width: 100%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
}

.title {
   
}
.loginForm form {
margin-bottom: 20px;
}