.group1 {
    justify-content: center;
    
    align-items: center;
    margin: 20px;
    height: 300px;
}

.groupDetialImgDiv {
    max-width: 30%;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10%;

    
}

.groupImg {
    width: 100%;
    border-radius: 20px;
    max-height: 100%;
}
.icon {
    margin: 3px;
    width: 30px;
    height: 20px;
}


.group3 {
    border-top: 1px solid rgb(221, 221, 221);
    height: 30px;
    justify-content: space-around;
}

#groupDetialTab {
    color: #0098ab;;
}

.group2 {
    background-color: rgb(245,246,247);
    justify-content: center;
}

.group2Left {
    width: 50%;
    margin-right: 4%;
    
}

.group2Right {
    width: 20%;
    margin: 1% 0;
}
.eventCard {
    background-color: white;
    border-radius: 15px;
    padding: 2%;
    margin: 2% 1% 2% 0;
    
}
#eventCard {
    width: 93%;
}
.groupDetailsImgContiner {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.groupDetailsImg {
    width: 30%;
    border-radius: 10px;
    margin: 1%
}

.group3 {
    justify-content: space-around;
    align-items: center;
    padding: 1% 20%;
}

.group3Buttondiv {
    margin: 0 5%;
}

.group3Button {
    height: 35px;
    width: 120px;
    font-size: 15px;
    color: white;
    background-color: #f65858;
    border: 0px;
    border-radius: 10px;
}

.eventCard {
    border: 0px;
}

