.group1 {
    justify-content: center;
    
    align-items: center;
    margin: 20px;
    height: 300px;
}

.groupImgDiv {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    
}

.groupImg {
    width: 100%;
    border-radius: 20px;
    max-height: 100%;
}
.icon {
    margin: 3px;
    width: 30px;
    height: 20px;
}

.group2 {
    background-color: rgb(245,246,247);
    justify-content: center;
}

.group2Left {
    width: 50%;
    margin: 1% 3%;
}

.group2Right {
    width: 20%;
    margin: 1% 0;
}
.eventCard {
    background-color: white;
    border-radius: 15px;
    padding: 2%;
    margin: 2% 1%;

}

.groupDetailsImgContiner {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.groupDetailsImg {
    width: 30%;
    border-radius: 10px;
    margin: 1%
}

.group3 {
    justify-content: space-around;
    align-items: center;
    padding: 1% 20%;
}

.group3Buttondiv {
    margin: 0 5%;
}

.group3Button {
    height: 35px;
    width: 120px;
    font-size: 15px;
    color: white;
    background-color: #f65858;
    border: 0px;
    border-radius: 10px;
}

.eventCard {
    border: 0px;
}

.card {
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    background-color: #fff3f3;
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
    transform: scale(4) translateZ(0);
}

.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}


.card:hover div {
    /* color: rgb(255, 255, 255); */
    
}

.card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
        0 15px 24px var(--box-shadow-color);
}
