.toolBarContiner{

}

.buttomBar {
    background-color: #353e48;
    color: white;
    margin: 0;
    position: static;
    bottom: 0;
    left: 0;
    width: 80%;
    padding: 3% 10%;
}

.tooBar {
    margin: 0 20% 0 0;
}

.buttomBar  p {
    color: white;
}

.toobarLink {
    color: white;
}

.followMeIcon {
    size: 20px;
    height: 40px;
    width: 40px;
    color: white;
    padding: 1% 3% 1% 0;
}