.navTab{
    display: flex;
    margin-left: 10%;
    justify-content:flex-start;
    align-items: center;
}

.tab {
    margin: 20px 1px 20px 10px;
    display: flex;  
    font-size: 22px; 
    width: 100px;
}

.selected {
    color: #008294;
    font-weight: bolder;
    padding-bottom: 2px;
    border-bottom: 4px #008294 solid;
}

.notSelected {
    color: #757575;
    font-weight: bolder;
}

.groupList {
    margin-left: 9%;
    width: 60%;
}

.groupCard {
    width: 100%;
   margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    /* border-top: 1px solid rgb(218, 218, 218); */
}

.groupImgDiv {
    width: 250px;
    width: 25%;
}
.groupImgPre {
    width: 80%;
    border-radius: 10px;
    position: relative;
    margin: 20px;
}

.groupInfo {
    width: 70%;
}

.grouLocation {
    text-decoration: none;
}


.groupName {
    font-size: larger;
    font-weight: bolder;
    line-height: 25px;
    margin-bottom: 5px;
}

.groupLocation {
    color: #877457;
    margin: 0;
}

.groupAbout {
    font-size: small;
    color: #757575;
    max-width: 100%;
}

.aboutLong {
    margin-top: 30px;
    display: block
}

