.navTab{
    display: flex;
    margin-left: 10%;
    justify-content:flex-start;
    align-items: center;
}

.tab {
    margin: 20px 1px 20px 10px;
    display: flex;  
    font-size: 22px; 
    width: 100px;
}

.selected {
    color: #008294;
    font-weight: bolder;
    padding-bottom: 2px;
    border-bottom: 4px #008294 solid;
}

.notSelected {
    color: #757575;
    font-weight: bolder;
}

.groupList {
    margin-left: 11%;
    width: 50%;
}

.groupCard {
    border-top: 1px solid rgb(218, 218, 218);
    margin-bottom: 0px;
}

.groupImgDiv {
    width: 30%;
    height: 10rem;
    margin: 0 20px 0 0;
}
.groupImgPre {
    width: 100%;
    position: relative;
    top: 20px;
    border-radius: 10px;
}

.groupInfo {
    width: 70%;
}

.grouLocation {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.groupName {
    font-size: larger;
    font-weight: bolder;
    line-height: 25px;
    margin-bottom: 5px;
}

.groupLocation {
    color: #877457;
    margin: 0;
}

.groupAbout {
    font-size: small;
    color: #757575;
}

.aboutLong {
    margin-top: 30px;
}

