/* TODO Add site wide styles */
form {
    flex: 0 0 400px;
}

html * {
    color: #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}