/* TODO Add site wide styles */
form {
    flex: 0 0 400px;
}

html {
    color: #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    line-height: 150%;
    color: #212121;
}

#login {
    background-color: white;
    color: white;
}


.title {
    font-style: italic;
}

.signUpForm {
    padding: 5%;
    /* width: 50%; */
}

input[type=text],
input[type=password],
input[type=number],
input[type=datetime-local],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 50px;
    box-sizing: border-box;
    font-size: 17px;
}

#about {
    height: 200px;
}


.signUpButton {
    background-color: rgb(242, 48, 86);
    width: 100%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

