.profileButtonDiv,
.menuDiv {
    display: flex;
    justify-content: left;
}

.profileButton {
    align-items: center;
    background-color: rgba(0,0,0,0);
    border: 0px;
    border-radius: 21px;
    margin-top: 8px;
}

.userIcon {
    font-size: 30px;
    color: #f86f6f;
    
    margin: 6px 0px;
    
}

/* .fa-bars {
    font-size: 19px;
    color: #717171;
    margin: 0px 10px;
} */

/* .profile-icons {
    display: flex;
    align-items: center;
} */

.dropdownBox {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    position: absolute;
    top: 90px;
    right: 140px;
    width: 250px;
    box-shadow: rgba(100, 100, 111, 0.158) 0px 2px 22px 0px;
    border-radius: 5px;
    background: white;
}

.logoutDiv,
.usernameDiv,
.emailDiv,
.linkDiv {
    font-size: 15px;
    padding: 15px 20px;
}
#menuLink {
    color: black;

}


.emailDiv,
#linkDiv {
    border-bottom: 1px rgba(128, 128, 128, 0.274) solid;
}

.logoutDiv:hover,
#menuLink:hover{
    color: #008294;
}

